.letter-box {
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  margin: 2px;
  border-radius: 5%;
}

.letter {
  height: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  font-size: x-large;
  justify-content: center;
}

.word {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.green {
  border: none;
  width: 51.5px;
  height: 51.5px;
  background-color: rgb(94, 153, 94);
}

.yellow {
  border: none;
  width: 51.5px;
  height: 51.5px;
  background-color: rgb(245, 245, 141);
}

.gray {
  border: none;
  width: 51.5px;
  height: 51.5px;
  background-color: rgb(182, 182, 182);
}